#ignore bins
*.exe
*.bins

#ignore build
build/tmp
build/resources
build/classes/
build/generated
build/reports/
build/test-results
build/repo/
build/logs/
build/jacoco/
build/libs/*.jar
.gradle/*
.vscode/*
gradlew*
bin/*
build/libs/YamahaMixerControl.war
src/main/webapp/qrcodes
ParamChangeList_V350_M7CL.xls