#ignore bins
*.exe
*.bins

#ignore build
build/tmp
build/resources
build/classes/
build/generated
build/reports/
build/test-results
build/repo/
build/logs/
.gradle/*
.vscode/*
bin/*

#allow war files
!build/libs/*.war