/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
body 
{
    background-color: #666666
}

#ch-levels
{
    width: 100%;
    padding-top: 5%;
    text-align: centre;
    margin: auto;
    float: left;
}

.bank
{
    width: -moz-fit-content;
    width: fit-content;
    
}

h2{
    font-family:sans-serif;
    color: #cccccc;
    
}
Input[type="selector"]{
    font-family:sans-serif;
    color: #cccccc;
    
}


#midiDevice
{
    color: #cccccc;
    width: 100%;
}

@media (orientation: portrait) {
.chfader input[type="range"]
{
    -webkit-appearance: none;
    appearance: none;
    width: 50vh;
    transform: rotate(270deg);
    margin-left: -15vh;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
}

@media (orientation: landscape) {
.chfader input[type="range"]
{
    -webkit-appearance: none;
    appearance: none;
    width: 55vh;
    transform: rotate(270deg);
    margin-left: -15vh;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
}

.chfader input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 5.75vh;
    height: 3.75vh;
    box-shadow: -3px 3px 2px 0 #111;
    border-radius: 1vh;
    border-bottom: 2px solid rgba(17, 50, 17, 0.621);
    border-left: 4px solid rgba(20, 70, 20,0.75);
    border-right: 2px solid rgba(17, 50, 17, 0.804);
    background: linear-gradient(90deg,#ccc,#eee,#ccc);
    cursor: pointer;
    margin-top: -1.2vh;
}


.chfader input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: #ffea00;
  border-radius: 1vw;
  opacity: 0.7;
  height: 1.5vh;
}

label[for="chfader"]{
    transform: translate(20vh,4vw);
    font-family: sans-serif;
    color: #fff;
    text-shadow: #111;
    text-align: right;
}

@media (orientation: landscape) {
    .chfader
    {
        height: 65vh;
        min-width: 6%;
        max-width: 12%;
        width: auto;
        float: left;
        transform: translate(0vh,20vh)
    }
}

@media (orientation: portrait) {
    .chfader
    {
        height: 55vh;
        min-width: 20%;
        max-width: 25%;
        width: auto;
        float: left;
        transform: translate(00vh,25vh)
    }
}
