body {
    background-color: #777;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    font-family:sans-serif;
    color: #cccccc;
    
}

select {
    font-family: sans-serif;
    color: #cccccc;
}


#midiDevice
{
    color: #cccccc;
    width: 100%;
}

.fader {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    height: clamp(120px, 20vh, 300px);
    width: 30px;
    margin-right: 0.5rem;
    background: transparent;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.fader:hover {
    opacity: 1;
    cursor: pointer;
}

.fader-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    flex: 1 1 100px;
    min-width: 80px;
    border-radius: 6px;
    background-color: #555;
    border: 1px solid #444;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.fader-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fader-value {
    font-size: 0.9rem;
    min-width: 40px;
    text-align: left;
    transition: all 0.2s ease-in-out;

}

.fader-label {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    text-align: center;
    word-wrap: break-word;
    color: #fff;
}

.fader-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}