<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GetDevices</servlet-name>
        <servlet-class>MidiControl.GetDevices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDevices</servlet-name>
        <url-pattern>/devices</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ChangeNames</servlet-name>
        <servlet-class>MidiControl.ChangeJSONNames</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeNames</servlet-name>
        <url-pattern>/changenames</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SetMidiOutputDevice</servlet-name>
        <servlet-class>MidiControl.SetMidiOutputDevice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetMidiOutputDevice</servlet-name>
        <url-pattern>/setmidioutputdevice</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BuildMixView</servlet-name>
        <servlet-class>MidiControl.BuildPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuildMixView</servlet-name>
    <url-pattern>/buildpage</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetInputDevices</servlet-name>
        <servlet-class>MidiControl.GetInputDevices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetInputDevices</servlet-name>
        <url-pattern>/GetInputDevices</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SetMidiInputDevice</servlet-name>
        <servlet-class>MidiControl.SetMidiInputDevice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetMidiInputDevice</servlet-name>
        <url-pattern>/setmidiinputdevice</url-pattern>
    </servlet-mapping>
    
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
    <security-constraint>
        <web-resource-collection>

            <web-resource-name>mix_2</web-resource-name>
            <url-pattern>/mix_2.html</url-pattern>

            <web-resource-name>mix_3</web-resource-name>
            <url-pattern>/mix_3.html</url-pattern>

            <web-resource-name>mix_5</web-resource-name>
            <url-pattern>/mix_5.html</url-pattern>

            <web-resource-name>mix_6</web-resource-name>
            <url-pattern>/mix_6.html</url-pattern>

            <web-resource-name>mix_7</web-resource-name>
            <url-pattern>/mix_7.html</url-pattern>

            <web-resource-name>mix_8</web-resource-name>
            <url-pattern>/mix_8.html</url-pattern>

            <web-resource-name>mix_9</web-resource-name>
            <url-pattern>/mix_9.html</url-pattern>

            <web-resource-name>mix_10</web-resource-name>
            <url-pattern>/mix_10.html</url-pattern>

            <web-resource-name>mix_11</web-resource-name>
            <url-pattern>/mix_11.html</url-pattern>

            <web-resource-name>mix_12</web-resource-name>
            <url-pattern>/mix_12.html</url-pattern>

        </web-resource-collection>

        <auth-constraint>
            <role-name>musician</role-name>
        </auth-constraint>
    
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>mix_1</web-resource-name>
            <url-pattern>/mix_1.html</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>keys</role-name>
        </auth-constraint>
    
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>mix_4</web-resource-name>
            <url-pattern>/mix_4.html</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>drums</role-name>
        </auth-constraint>
    
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>mix_5</web-resource-name>
            <url-pattern>/mix_5.html</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>bass</role-name>
        </auth-constraint>
    
    </security-constraint>
  
</web-app>
